.skill_container {
    margin-top: 4rem;
    /* background-color: rgb(43, 161, 82); */
}

.skill_container .title {
    margin-bottom: 2rem;
}

.mechanical_skill,
.automation_skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.title_skill {
    margin-left: 1.5rem;
}

.Img_skill img {
    padding: 10px;
}

.icon_skill {
    font-size: 4rem;
    padding: 1rem;
}

.icon_skill:nth-child(n+0) {
    padding: 1rem;
}